.loader-section{
    background-color: rgba(254,254,254,0.75);
    width:100%;
    height:100vh;
    top:0;
    left:0;
}
.custom-card-footer{
    background-color: #fff;
}

.footer-right-arrow{
    width:50px;
    height:50px;
    border-radius: 25px;
    background-color: rgba(194, 128, 128, 0.247);
    color:red;
    margin: 5px;
    padding: 15px;
}
.border-secodary,.border-orange{
    border:1px solid;
    border-radius:10px

}
.border-secodary{
    border-color: rgba(0,0,0,0.15);
    position: relative;
}

.border-orange{
    border-color: #EB5757;
    background-color: rgba(235, 87, 87,0.05);
}

.accuracy{
    right:10px;
    top:10px;
    z-index: 999999;
    position: absolute;
}
.description {
    font-weight: 600;
    line-height: 35px;
}
.qa{}
.qa h4{
    font-weight: 600;
}
.qa p{
    color: rgba(0,0,0,0.5);
}

.hub-prices{}
.hub-price{}
.hub-price>div{
    font-weight: 600;
    font-size: 1.25em;
    text-align: center;
    word-wrap: break-word;
}
.hub-price:nth-child(1)>div{
    color: green;
}
.hub-price:nth-child(2)>div{
    color: orange;
}
.hub-price:nth-child(3)>div{
    color: red;
}

.footer-right-arrow:hover{
    color:#fff;
    background-color: rgba(214, 12, 12, 0.75);;
}

.footer{
    background-color: rgba(247, 157, 157, 0.466);
    height:20px;
}